.x-accordion-layout-ct {
    background-color: #fff;
    padding: 0px 5px 0;
}
 .x-panel-default-outer-border-rbl {
	border-right-color: #f5f5f5 !important;
	border-right-width: 1px !important;
	border-bottom-color: #f5f5f5 !important;
	border-bottom-width: 1px !important;
	border-left-color: #f5f5f5 !important;
	border-left-width: 1px !important;
} 
.x-panel .x-panel-header-default-framed-top {
	border-bottom-width: 1px !important;
}

/**载入初始化页面开始**/
.loading-indicator {
	font-size: 11px;
	background-image: url(../deng/images/load/loading.gif);
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 20px;
	height: 18px;
	text-align: left;
}
#loading-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 20000;
	background-color: #FFFFFF !important;
}
#loading {
	border: 1px solid #f5f5f5;
	position: absolute;
	left: 40%;
	top: 40%;
	padding: 2px;
	z-index: 20001;
	width: 250px;
	height: auto;
}
#loading img {
	margin-bottom: 5px;
}
#loading .loading-indicator {
	background: white;
	border: 0px solid #f5f5f5;
	color: #555;
	font: bold 13px helvetica, arial, tahoma, sans-serif;
	padding: 10px;
	margin: 0;
	text-align: center;
	height: auto;
}
/**载入初始化页面结束**/

/* 默认第一个字体列表的选项是从textarea的样式里读取的 所以修正这个样式就可以了
.x-html-editor-wrap textarea {
	font: normal 12px '黑体','宋体';
}
*/
.saveing-icon {
	background-image: url(../../../deng/images/load/loading.gif ) !important;
	background-repeat: no-repeat;
	background-position: top left;
	text-align: left;
}
.x-panel-header-default {
    background-image: none;
    background-color: #fff;
}
.x-panel-default-outer-border-trl {
    border-top-color: #fff!important;
    border-top-width: 0px!important;
    border-right-color: #f5f5f5!important;
    border-right-width: 0px!important;
    border-left-color: #fff!important;
    border-left-width: 0px!important;
}
.x-panel-header-default {
    font-size: 17px;
    border: 1px solid #fff;
}
.x-panel-default-outer-border-rl {
    border-right-color: #fff!important;
    border-right-width: 0px!important;
    border-left-color: #fff!important;
    border-left-width: 0px!important;
}
.x-grid-body {
    background: white;
    border-width: 1px;
    border-style: solid;
}

.x-grid-body {
    border-top-color: #f5f5f5;
}
.x-column-header {
    border-right: 1px solid #cfcfcf;
    color: #666;
    font: 300 13px/15px helvetica, arial, verdana, sans-serif;
    outline: 0;
    background-color: #fff;
    border-bottom: 1px solid #cfcfcf;
}
/**Panel字体颜色开始**/
.x-panel-header-title-default {
    color: #35baf6;
}
/**Panel字体颜色结束**/
/**accordion字体颜色开始

**/
 .x-accordion-hd .x-panel-header-title {
    color: #35baf6;
    text-transform: none;
} 
/**accordion字体颜色结束**/
.x-panel-header-default-framed-top {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px 14px 10px 14px;
    border-width: 0px 0px 0 0px;
    border-style: solid;
    /** Panel背景颜色采用默认
    background-color: #fff;
    **/
}
.x-panel-default-framed {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 0 0 0;
    border-width: 0px;
    border-style: solid;
    /**Panel背景颜色采用经典蓝**/
    background-color: #5fa2dd;
}
img {
    cursor: pointer;
}
.x-panel-header-default-framed {
    font-size: 16px;
    border: 1px solid #f5f5f5;
}
.x-grid-cell-inner-treecolumn {
    padding: 3px 10px 3px 6px;
}
.x-accordion-item .x-accordion-hd {
    background: #fff;
}
/**tbar与bbar鼠标点击后样式**/
.x-btn-focus.x-btn-default-toolbar-small {
	background-image: none;
	/* background-color: #3892d3; */
	-webkit-box-shadow: #f6f6f6 0 0px 0px 0 inset, #f6f6f6 0 -1px 0px 0 inset, #f6f6f6 -1px 0 0px 0 inset, #f6f6f6 0px 0 0px 0 inset;
	-moz-box-shadow: #f6f6f6 0 0px 0px 0 inset, #f6f6f6 0 -1px 0px 0 inset, #f6f6f6 -1px 0 0px 0 inset, #f6f6f6 0px 0 0px 0 inset;
	box-shadow: #f6f6f6 0 0px 0px 0 inset, #f6f6f6 0 -1px 0px 0 inset, #f6f6f6 -1px 0 0px 0 inset, #f6f6f6 1px 0 0px 0 inset;
}
.x-btn-focus.x-btn-over.x-btn-default-toolbar-small {
	background-image: none;
	/* background-color: #3892d3; */
	-webkit-box-shadow: #f6f6f6 0 0px 0px 0 inset, #f6f6f6 0 -1px 0px 0 inset, #f6f6f6 -1px 0 0px 0 inset, #f6f6f6 0px 0 0px 0 inset;
	-moz-box-shadow: #f6f6f6 0 0px 0px 0 inset, #f6f6f6 0 -1px 0px 0 inset, #f6f6f6 -1px 0 0px 0 inset, #f6f6f6 0px 0 0px 0 inset;
	box-shadow: #f6f6f6 0 0px 0px 0 inset, #f6f6f6 0 -1px 0px 0 inset, #f6f6f6 -1px 0 0px 0 inset, #f6f6f6 1px 0 0px 0 inset;
}
.x-panel-body-default {
    background: #fff;
    border-color: #d0d0d0;
    color: #404040;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    border-width: 0px;
    border-style: solid;
}

.x-panel-header-title-default {
     color: rgb(23, 196, 187);
}