<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="x-ua-compatible" content="ie=8,9,10,11" /> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>元祖蛋糕主题</title>
	<link rel="stylesheet" href="css/style.css" />
	<link href="css/cake.css" rel="stylesheet" type="text/css"/>
	<script src="js/jquery-1.10.1.min.js"></script>
	<script src="js/index.js"></script>
	<script src="js/cake.js" type="text/javascript"></script>
</head>
<body id="dingbu">
<div class="header">
	<div class="headerT">
		<div class="width">
			<p class="topL"><a href="" class="a1">微博登陆</a><span></span><a href="" class="a2">QQ登陆</a><span></span><a href="" class="a3">请登录</a><a href="" class="a3">免费登陆</a></p>
			<p class="topR"><a href="" class="a4">喜欢我们</a><span></span><a href="" class="a5">客服热线：025-8888-8888</a><span></span><a href="" class="a5 a6">卖家报名</a></p>
		</div>
	</div>
	<div class="clear"></div>
	<div class="logoBar">
		<div class="width">
			<a href="" class="logo"><img src="images/logo.png" alt=""></a>
			<!-- 
			<div class="logoR"><a href="#" class="a1">已签到</a><a href="#" class="a2">收藏</a><a href="#" class="a3">最近</a></div>
			<div class="search"><input type="text" value="请输入商品名称、地址等"/></div>
			 -->
			<div class="search-form">
				<div id="search-bd" class="search-bd">
					<ul>
						<li class="selected">找商品</li>
						<li>找商家</li>
					</ul>
				</div>
				<div id="search-hd" class="search-hd">
					<div class="search-bg"></div>
					<input type="text" id="s1" class="search-input"/>
					<input type="text" id="s2" class="search-input"/>
					<span class="s1 pholder">食品酒水半价抢疯</span>
					<span class="s2 pholder">搜商家名称</span>
					<button id="submit" class="btn-search" value="搜索">搜索</button>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="navBar">
		<div class="width">
			<ul>
				<li><a href="index.html" class="xz">首页</a></li><span></span>
				<li><a href="mulu.html">蛋糕目录</a></li><span></span>
				<li><a href="zhuti.html">促销活动</a></li><span></span>
				<li><a href="xq.html">积分商城</a></li><span></span>
				<li><a href="zhuti.html">特价区</a></li><span></span>
				<li class="sj"><a href=""><img src="images/sj.gif" alt=""/>商家入驻</a></li>
			</ul>
			<div class="fenlei">
				<div class="tit"></div>
				<div class="ctt" id="ctt" style="display:none;">
					<div class="list ll1">
						<h2><span><img src="images/i01.png" alt=""></span><a href="">海绵蛋糕</a></h2>
						<p><a href="">生日</a><a href="">生日</a><a href="">生日蛋糕</a><a href="">生日蛋糕</a></p>
					</div>
					<div class="list ll2">
						<h2><span><img src="images/i01.png" alt=""></span><a href="">戚风蛋糕</a></h2>
						<p><a href="">生日</a><a href="">生日</a><a href="">生日蛋糕</a><a href="">生日蛋糕</a></p>
					</div>
					<div class="list ll3">
						<h2><span><img src="images/i01.png" alt=""></span><a href="">天使蛋糕</a></h2>
						<p><a href="">生日</a><a href="">生日</a><a href="">生日蛋糕</a><a href="">生日蛋糕</a></p>
					</div>
					<div class="list ll4">
						<h2><span><img src="images/i01.png" alt=""></span><a href="">重油蛋糕</a></h2>
						<p><a href="">生日</a><a href="">生日</a><a href="">生日蛋糕</a><a href="">生日蛋糕</a></p>
					</div>
					<div class="list ll5">
						<h2><span><img src="images/i01.png" alt=""></span><a href="">奶酪蛋糕</a></h2>
						<p><a href="">生日</a><a href="">生日</a><a href="">生日蛋糕</a><a href="">生日蛋糕</a></p>
					</div>
					<div class="list ll6">
						<h2><span><img src="images/i01.png" alt=""></span><a href="">慕斯蛋糕</a></h2>
						<p><a href="">生日</a><a href="">生日</a><a href="">生日蛋糕</a><a href="">生日蛋糕</a></p>
					</div>
				</div>
				<div class="list1 l1">
					<h2><img src="images/b01.png" alt=""><a href="" class="name">生日蛋糕</a><a href="" class="more">更多></a></h2>
					<div class="clear"></div>
					<a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a>
				</div>
				<div class="list1 l2">
					<h2><img src="images/b01.png" alt=""><a href="" class="name">生日蛋糕</a><a href="" class="more">更多></a></h2>
					<div class="clear"></div>
					<a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a>
				</div>
				<div class="list1 l3">
					<h2><img src="images/b01.png" alt=""><a href="" class="name">生日蛋糕</a><a href="" class="more">更多></a></h2>
					<div class="clear"></div>
					<a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a>
				</div>
				<div class="list1 l4">
					<h2><img src="images/b01.png" alt=""><a href="" class="name">生日蛋糕</a><a href="" class="more">更多></a></h2>
					<div class="clear"></div>
					<a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a>
				</div>
				<div class="list1 l5">
					<h2><img src="images/b01.png" alt=""><a href="" class="name">生日蛋糕</a><a href="" class="more">更多></a></h2>
					<div class="clear"></div>
					<a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a>
				</div>
				<div class="list1 l6">
					<h2><img src="images/b01.png" alt=""><a href="" class="name">生日蛋糕</a><a href="" class="more">更多></a></h2>
					<div class="clear"></div>
					<a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a><span></span><a href="">生日蛋糕</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clear"></div>
<div class="banner">
</div>
<div class="width">
	<div class="zhuti">
		<div class="qihao">
			<h2>NO.</h2>
			<p class="p1"><b>08</b>期</p>
			<p class="p2">10月20日</p>
		</div>
		<div class="qihaoR">
			<a href="" class="a1"><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href="" class="la"><p>48</p>商品</a>
			<div class="clear"></div>
			<h2><b>本期主题：</b>简约而不简单。真正的美味，不需要太复杂</h2>
			<p>简约而不简单。真正的美味，不需要太复杂简约而不简单。真正的美味，不需要太复杂</p>
			<p>简约而不简单。真正的美味，不需要太复杂简约而不简单。真正的美味，不需要太复杂真正的美味，不需要太复杂</p>
			<p>简约而不简单。真正的美味，不需要太复杂简约而不简单。真正的美味，不需要太复杂</p>
			<button class="jinru">进入专题 ></button>
			<div style="height:60px;"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		</div>
	</div>
	<div class="zhuti zhuti2">
		<div class="qihao">
			<h2>NO.</h2>
			<p class="p1"><b>08</b>期</p>
			<p class="p2">10月20日</p>
		</div>
		<div class="qihaoR">
			<a href="" class="a1"><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href="" class="la"><p>48</p>商品</a>
			<div class="clear"></div>
			<h2><b>本期主题：</b>简约而不简单。真正的美味，不需要太复杂</h2>
			<p>简约而不简单。真正的美味，不需要太复杂简约而不简单。真正的美味，不需要太复杂</p>
			<p>简约而不简单。真正的美味，不需要太复杂简约而不简单。真正的美味，不需要太复杂真正的美味，不需要太复杂</p>
			<p>简约而不简单。真正的美味，不需要太复杂简约而不简单。真正的美味，不需要太复杂</p>
			<button class="jinru">进入专题 ></button>
			<div style="height:60px;"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		</div>
	</div>
	<div class="zhuti zhuti3">
		<div class="qihao">
			<h2>NO.</h2>
			<p class="p1"><b>08</b>期</p>
			<p class="p2">10月20日</p>
		</div>
		<div class="qihaoR">
			<a href="" class="a1"><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href=""><img src="images/img01.png" alt=""></a>
			<a href="" class="la"><p>48</p>商品</a>
			<div class="clear"></div>
			<h2><b>本期主题：</b>简约而不简单。真正的美味，不需要太复杂</h2>
			<p>简约而不简单。真正的美味，不需要太复杂简约而不简单。真正的美味，不需要太复杂</p>
			<p>简约而不简单。真正的美味，不需要太复杂简约而不简单。真正的美味，不需要太复杂真正的美味，不需要太复杂</p>
			<p>简约而不简单。真正的美味，不需要太复杂简约而不简单。真正的美味，不需要太复杂</p>
			<button class="jinru">进入专题 ></button>
			<div style="height:60px;"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="pagelist">
		<span class="spl"><--</span>
		<span class="xz">1</span>
		<span>2</span>
		<span>3</span>
		<span>4</span>
		<span>5</span>
		<span>...</span>
		<span>13</span>
		<span class="spr">--></span>
	</div>
</div>
<div class="clear"></div>
<div class="footer">
	<div class="width">
		<dl class="dl1">
			<dt><a href="">关于我们</a></dt>
			<dd>
				<a href="">cake团简介</a>
				<a href="">联系我们</a>
				<a href="">加入我们</a>
			</dd>
		</dl>
		<dl class="dl2">
			<dt><a href="">关注我们</a></dt>
			<dd>
				<a href="">加入收藏</a>
				<a href="">下载桌面快捷方式</a>
				<a href="">意见建议</a>
			</dd>
		</dl>
		<dl class="dl4">
			<dt><a href="">帮助中心</a></dt>
			<dd>
				<a href="">新手上路</a>
				<a href="">服务条款</a>
			</dd>
		</dl>
		<dl class="dl3">
			<dt><a href="">商务合作</a></dt>
			<dd>
				<a href="">商家报名</a>
				<a href="">在线客服</a>
				<a href="">友情链接</a>
			</dd>
		</dl>
		<div class="flogo">
			<img src="images/logo.png" alt=""/>
			<img src="images/erweima.png" alt="" class="erweima"/>
		</div>
	</div>
	<div class="clear"></div>
	<div class="copy">copy right 2014-2015 caketuan.com版权所有 All Rights Reserver  陕ICP备00000000号</div>
</div>
</body>
<script type="text/javascript">
	 $('.fenlei').on('click',function(){
	 	if($('#ctt')[0].style.display== 'none'){
	 		$('#ctt')[0].style.display = 'block';
	 	}else{
	 		$('#ctt')[0].style.display = 'none';
	 	}
	 })
</script>
</html>