/* .x-body {
	color: #404040;
	font-size: 13px;
	line-height: 17px;
	font-weight: 300;
	font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana,sans-serif;
	background: #fff;
} */
/* .x-accordion-layout-ct {
	background-color: #fff;
	padding: 0px 0px 0px 0px;
}

.x-accordion-item .x-accordion-hd {
	background: #fff;
	border-width: 0;
	border-color: #fff;
	*
	padding: 12px 10px;
	*
	padding: 6px 10px;
} */

/* .x-accordion-layout-ct {
	background-color: #fff;
	padding: 0px 0px 0px 0px;
} */
.x-accordion-layout-ct {
    background-color: #fff;
    padding: 0px 5px 0;
}

 .x-panel-default-outer-border-rbl {
	border-right-color: #f5f5f5 !important;
	border-right-width: 1px !important;
	border-bottom-color: #f5f5f5 !important;
	border-bottom-width: 1px !important;
	border-left-color: #f5f5f5 !important;
	border-left-width: 1px !important;
} 

/**
	.x-panel-body-default {
	background: #fff;
	border-color: #d0d0d0;
	color: #404040;
	font-size: 13px;
	font-weight: 300;
	font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
	border-width: 0px;
	border-style: '';
	}
**/
/* .x-accordion-hd .x-panel-header-title {
	color: #35baf6;
	text-transform: none;
} */
/**
	.x-panel-header-default .x-tool-img {
	    background-color: #fff;
	}
	.x-panel-header-default .x-tool-img {
		background-color: #fff;
	}
	.x-tool-img {
		overflow: hidden;
		width: 16px;
		height: 16px;
		background-image: url(images/tools/tool-sprites.png);
		margin: 0;
		color: #35baf6;
		text-align: center;
		filter: progid : DXImageTransform . Microsoft . Alpha(Opacity = 80);
		opacity: 0.8;
	}
**/
.x-panel .x-panel-header-default-framed-top {
	border-bottom-width: 1px !important;
}


/* element.style {
	right: auto;
	left: 0px;
	top: 0px;
	margin: 0px;
} */

/**载入初始化页面开始**/
.loading-indicator {
	font-size: 11px;
	background-image: url(../deng/images/load/loading.gif);
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 20px;
	height: 18px;
	text-align: left;
}
#loading-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 20000;
	background-color: #FFFFFF !important;
}
#loading {
	border: 1px solid #f5f5f5;
	position: absolute;
	left: 40%;
	top: 40%;
	padding: 2px;
	z-index: 20001;
	width: 250px;
	height: auto;
}
#loading img {
	margin-bottom: 5px;
}
#loading .loading-indicator {
	background: white;
	border: 0px solid #f5f5f5;
	color: #555;
	font: bold 13px helvetica, arial, tahoma, sans-serif;
	padding: 10px;
	margin: 0;
	text-align: center;
	height: auto;
}
/**载入初始化页面结束**/

/* 默认第一个字体列表的选项是从textarea的样式里读取的 所以修正这个样式就可以了
.x-html-editor-wrap textarea {
	font: normal 12px '黑体','宋体';
}
*/
.saveing-icon {
	background-image: url(../../../deng/images/load/loading.gif ) !important;
	background-repeat: no-repeat;
	background-position: top left;
	text-align: left;
}

.x-panel-header-default {
    background-image: none;
    background-color: #fff;
}

.x-panel-default-outer-border-trl {
    border-top-color: #fff!important;
    border-top-width: 0px!important;
    border-right-color: #f5f5f5!important;
    border-right-width: 0px!important;
    border-left-color: #fff!important;
    border-left-width: 0px!important;
}


.x-panel-header-default {
    font-size: 17px;
    border: 1px solid #fff;
}

.x-panel-default-outer-border-rl {
    border-right-color: #fff!important;
    border-right-width: 0px!important;
    border-left-color: #fff!important;
    border-left-width: 0px!important;
}

.x-grid-body {
    background: white;
    border-width: 1px;
    border-style: solid;
}

.x-grid-body {
    border-top-color: #f5f5f5;
}
.x-column-header {
    border-right: 1px solid #cfcfcf;
    color: #666;
    font: 300 13px/15px helvetica, arial, verdana, sans-serif;
    outline: 0;
    background-color: #fff;
    border-bottom: 1px solid #cfcfcf;
}
/**panel头部肤色结束**/
/* .x-toolbar-footer {
	padding: 6px 0 6px 6px;
	border-style: solid;
	border-color: #fff;
	border-width: 0;
	background-image: none;
	background-color: #fff;
} */



/**Panel字体颜色开始**/
.x-panel-header-title-default {
    color: #35baf6;
}
/**Panel字体颜色结束**/
/**accordion字体颜色开始

**/
 .x-accordion-hd .x-panel-header-title {
    color: #35baf6;
    text-transform: none;
} 
/**accordion字体颜色结束**/


/* .x-panel-header-title-default-framed {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    line-height: 20px;
} */
.x-panel-header-default-framed-top {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px 14px 10px 14px;
    border-width: 0px 0px 0 0px;
    border-style: solid;
    /** Panel背景颜色采用默认
    background-color: #fff;
    **/
}
.x-panel-default-framed {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 0 0 0;
    border-width: 0px;
    border-style: solid;
    /**Panel背景颜色采用经典蓝**/
    background-color: #5fa2dd;
}
img {
    cursor: pointer;
}
/**
.x-tab-bar-default-left > .x-tab-bar-body-default {
padding: 0px 0 0px 0px;
}
.x-tab-bar-default-top > .x-tab-bar-body-default {
padding: 1px 4px 0px 0px;
}
**/
/* .x-tab-focus.x-tab-default {
border-color: transparent;
background-color: transparent;
outline: 1px solid #fff;
outline-offset: -3px;
} */
/* .x-tab-bar-default-bottom > .x-tab-bar-body-default {
padding: 0px 4px 1px 1px;
} */

/* element.style {
right: auto;
left: -2px;
top: -2px;
width: 1536px;
}
.x-window-header-default {
border-width: 2px !important;
}
.x-window-header-default-top {
-moz-border-radius-topleft: 0;
-webkit-border-top-left-radius: 0;
border-top-left-radius: 0;
-moz-border-radius-topright: 0;
-webkit-border-top-right-radius: 0;
border-top-right-radius: 0;
-moz-border-radius-bottomright: 0;
-webkit-border-bottom-right-radius: 0;
border-bottom-right-radius: 0;
-moz-border-radius-bottomleft: 0;
-webkit-border-bottom-left-radius: 0;
border-bottom-left-radius: 0;
padding: 20px 14px 20px 14px;
border-width: 2px 2px 2px 2px;
border-style: solid;
background-color: #5fa2dd;
} */

.x-panel-header-default-framed {
    font-size: 16px;
    border: 1px solid #f5f5f5;
}

.x-grid-cell-inner-treecolumn {
    padding: 3px 10px 3px 6px;
}