.string {
	font-size: 12px;
	color: #F0F;
}
.paramName {
	color: #00F;
}
.comment {
	font-style: italic;
	color: #333;
}
.boolean {
	font-weight: bold;
	color: #060;
}
.params {
	display: block;
	padding: 5px;
	border: 1px solid #D5D5D5;
}
